* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body ul {
    list-style: none;
    
}
body a {
    text-decoration: none;
    color: #fad8af;
}


/* Navegador */
.btn {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/foto10.jpg");
    height: 100vh;
    background-size: cover;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #069;
    padding: 10px;
    height: 50px;
    border-radius: 30px;
}
.buscar_texto {
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
    font-size: 12px;
    float: left;
    line-height: 30px;
    transition: .3s;
    width: 0;
}
.boton {
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 5px 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

@media screen and (min-width:320px){
    .buscar:hover> .buscar_texto {
        width: 190px;
    }
    .nav-main {
    font-size: 17px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    }
}

.fas-text {
    cursor: pointer;
}



/* Menu */
.nav-brand {
    width: 50px;
    margin-left: 2%;
}

.nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main li:hover {
    border-bottom: 2px solid #fad8af;
}

.nav-main  {
    flex: 1;
    margin-left: 50px;
    font-style: #fad8af;
    justify-content: center;
}
.fas-text {
    flex: auto;
    width: 100px;
    margin: 20px;
}

.fas-text:hover {
    opacity: .7;
}

.btn .nav-brand{
    animation: spin 7s linear infinite;
}

@keyframes spin {
    0% {
        transform: perspective(100px) rotateX(0deg);
    }
    50% {
        transform: perspective(100px) rotateX(1800deg);
    }
    100% {
        transform: perspective(100px) rotateZ(1800deg);
    }
}





#btn-menu {
    display: none;
    position: relative;
    right:  100%;
}

.btn label {
    display: none;
    background: rgb(250, 216, 175, 0.5);
    width: 40px;
    height: 40px;
    padding: 10px;
    position: relative;
    left:  90%;
}

.btn label:hover {
    cursor: pointer;
    background: rgba(235, 229, 228, 0.3);
}
.nav-main ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}


@media screen and (max-width:780px) {
    .btn label {
        display:block; 
    }
    .buscar {
        display: none;
    }
    .nav-main  {
        top: 170px;
        right: 230px; 
        position: absolute;
        width: 70%;
        margin:-70%;
        transform-origin: 0.3s;
        transition: all 0.5s;
    }
    

    .nav-main ul {
        flex-direction: column;
        background: rgb(199, 199, 199, 0.3);
     
    }

    #btn-menu:checked ~ .nav-main {
        margin: 0px;
    }

    hr {
        display: none;
    }
    .planer {
        font-size: 50px;
    }
}





/* principal */
.conteiner-princ {
    background-size: 100% 100%;
    width: 100%;
    height: 500px; 
    color: #fad8af;  
    text-shadow: 7px 1px 1px black;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.conteiner-princ .img {
    width: 10%;
    
}

.principal__cont {
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px 20px;
    background:  #616161;
    color: #fad8af;
    text-shadow: 4px 1px 1px black;
    font-size: 25px;
    border: 1px solid #fad8af;
    margin: 100px 0;
}
.principal__cont:hover {
    opacity: .7;
}

.btn .nav-brand{
    animation: spin 7s linear infinite;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: perspective(100px) rotateX(0deg);
    }
    50% {
        transform: perspective(100px) rotateX(1800deg);
    }
    100% {
        transform: perspective(100px) rotateZ(1800deg);
    }
}


.conteiner-princ .planer {
    display: flex;
    font-size: 130%;
    color: #ffffff;
}




/* Sobre nosotros */
 .conteiner-seg {
    color: #fad8af;
    text-shadow: 7px 1px 1px black;
    font-style: italic;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
}



/* Eventos */




#id-eventos {
        
    width: 100%;
    height: 150px; 
    color: #069;  
    text-shadow: 3px 1px 1px black;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* fotos*/

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-left: 10px;
    margin-right: 10px;
    
}

h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 1px 1px black;
  
}

.gallery-grid img {
    width: 100%;
    height: auto;
}

.gallery-grid img:hover {
    transform: scale(1.2);
}

/* servicios */


.catalogo {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    
    
}

.catalogo .catalogo-item {
    background: #2f3640;
    border: 2px solid #000000;
    box-shadow: 0px 0px 20px  #000000;
    padding: 5px;
    margin: 5px;
}


.catalogo img {
    width: 100%;
    height: auto;
    
}

.catalogo img:hover {
    opacity: .5;
}

.catalogo .catalogo-tex {
    font-family: 'Times New Roman';
    text-align: center;
    color: #616161;
    text-shadow: 2px 0px 0px #000000;
}

.catalogo h5 {
    color: #fad8af;
    text-shadow: 2px 0px 0px #000000;
}



/* registro */

form {
    color: #fad8af;
    text-shadow: 4px 1px 1px #2f3640;
    box-shadow: 0px 1px 40px  #000000;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    padding-top: 10px;
    border-radius: 10px;
}
.form h2 {
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

form {
    background: #616161;
    padding: 40px 0;
    box-shadow: 0 0 50px 0 #2f3640;
    border-radius: 10px;
}

.form {
    
    width: 100%;
    margin: auto;
    
}

form .grupo {
    position: relative;
    margin: 45px;
    
    
}

form .grupo p {
    font-size: 20px;
    text-align: center;
    margin: 5px ;
}

input {
    background: none;
    color: #fad8af;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 45%;
    border: none;
    border-bottom: 1px #fad8af solid ;
}

input:focus {
    outline: none;
    color: #fad8af;
}

label {
    color: #f3dec5;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transform: 0.5s ease-in-out all;
    pointer-events: none;
}
input:focus~label, 
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #bdbaba;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #bdbaba;
    transition: 0.3s ease width;
    left: 0;
}


input:focus~.barra::before {
   width: 50%;
}

button {
    font-family: 'roboto';
    background: #fad8af;
    box-shadow: 0px 1px 40px  #000000;
    border-style: 8px double;
    display: block;
    width: 20%;
    margin: 10px auto;
    color: #2f3640;
    text-shadow: 1px 1px 5px #616161;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}



.grupo-style h4 {
    font-size: 20px;
    margin: 16px ;
    -box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
}

textarea {
    margin: 5px;
    border: none;
    outline: none;
    resize: none;
}
.grupo-style {
    margin: 50px;
    width: auto;
    height: auto;
    border: 1px solid #fad8af;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}


textarea {
    margin: 5px;
    width: 50%;
    border: 2px #fad8af solid;
    outline: none;
    resize: none;
}

.grupo-style:hover {
    -box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);
    border: 1px solid #fad8af;
}

.grupo-style:focus {
    -box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
}

textarea::-webkit-scrollbar {
    width: 3px;
}


/* contaactos */

.contactos {
    width: 100%;
    height: 150px; 
    color: #616161;  
    text-shadow: 4px 1px 1px #ffffff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;

}


form {
    background: #616161;
    color: #fad8af;
    text-shadow: 4px 1px 1px #2f3640;
    box-shadow: 0px 1px 40px  #000000;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    padding-top: 20px;
    border-radius: 10px;
}



.datos-datos  {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.color {
    color: #069;
    font-size: 16px;
}

#contactos-id {
    padding: 16px 0;
    border-radius: 10px;
}


.contactos-datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.contactos-datos h2 {
    margin: 10px 10px;
}

input:focus {
    outline: none;
    color: #2f2f2f;
}

label {
    color: #f3dec5;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transform: 0.5s ease-in-out all;
    pointer-events: none;
}
input:focus~label, 
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #bdbaba;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #bdbaba;
    transition: 0.3s ease width;
    left: 0;
}


input:focus~.barra::before {
   width: 100%;
}

button {
    font-family: 'roboto';
    background: #fad8af;
    box-shadow: 0px 1px 40px  #000000;
    border-style: 8px double;
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #2f3640;
    text-shadow: 1px 1px 5px #616161;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}



.contactos-text h4 {
    font-size: 20px;
    margin: 16px ;
    -box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
}

textarea {
    margin: 10px;
    width: 50%;
    border: 2px #fad8af solid;
    outline: none;
    resize: none;
}

.contactos-text {
    margin: 50px;
    width: auto;
    height: auto;
    border: 1px solid #fad8af;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.contactos-text:hover {
    -box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);
    border: 1px solid #2f2f2f;
}

.contactos-text:focus {
    -box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
}

textarea::-webkit-scrollbar {
    width: 3px;
}
 button:hover {
    opacity: .7;
}

/* Redes */

.conteiner__tre {
    background-image: url("../img/foto11.jpg");
    margin-top: 0.2%;
    width: 100%;
    height: 200px;
    border: #000000 solid 1px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.conteiner__tre .redes {
    color: #2f3640;
    text-shadow: 1px 0px 0px #ffffff;
    -webkit-text-stroke: 0.2px #000000;
}

.conteiner__tre .iconos {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
}

h3 {
    font-size: 12px;
    color: #616161;

}


.iconos .mail {
    margin-right: 25px;
}
.mail:hover {
    opacity: .4;
}

.iconos .facebook {
    margin-left: 25px;
}
.facebook:hover {
    opacity: .4;
}

.iconos .twitter {
    margin-right: 25px;
}
.twitter:hover {
    opacity: .4;
}

.instagram:hover {
    opacity: .4;
}




/* footer */


#footer__links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
    margin-top: 2px;
    border-top: #000000 solid 2px;
    
}

.footer__conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}
.footer__conteiner ul {
    margin: 0 auto;
}

.footer__conteiner ul li {
    line-height: 2.8;
}

.footer h3 {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;

}



/* Banner */
.banner {
    background: #616161;
    padding: 10px;
    display: flex;
    height: auto;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 2px;
    border: 1px #000000 solid;
}

.banner-banner {
    border: 2px solido #000000;
    width: 300px;
}

.banner img {
    width:  100%;
}

.banner a:hover {
    opacity: .7;
}
    



