$colorPrincipa:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
$colorSegundo:#fad8af;
$colorTercero:7px 1px 1px black;
$colorCuarto: #616161;
$colorQuinto: #ffffff;
$colorSexto: black;
$colorSeptimo:  #069;
$colorOctavo:  3px 1px 1px black;
$colorNoveno: #2f3640;
$colorDecimo: 2px solid #000000;
$colorDecimoPrimero: 0px 0px 20px  #000000;
$colorDecimoSegundo:  2px 0px 0px #000000;
$colorDecimoTercer: 4px 1px 1px #2f3640;
$colorDecimoCuarto: 0px 1px 40px  #000000;
$colorDecimoQuinto: #ffa500;
$colorDecimoSexto: #bdbaba;
$colorDecimoSeptimo:1px 1px 5px #616161;
$colorDecimoOctavo: 0px 0px 5px 1px rgba(0,0,0,0.03);
$colorDecimoNoveno: 0px 0px 10px 1px rgba(0,0,0,0.03);
$colorVeite: 0px 0px 5px 1px rgba(0,0,0,0.03);